

.out-card{
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;

    .head{
        height: 100rpx;
        width: 100rpx;
        image{
            height: 100rpx;
            width: 100rpx;
        }
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20rpx;
    }

    .text-wrap{
        display: flex;
        flex-direction: column;
        margin-right: 20rpx;
        .up{
            font-weight: bolder;
        }
        .bot{
            color: rgb(118, 118, 118);
        }
    }
    .nav-btn{
        position: absolute;
        right: 30rpx;
        top: 50%;
        transform: translateY(-50%); 
    }
}

